.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	font-family: $font__sans;
	text-align: center;
}

.separator {
	width: 50px;
    border-bottom: 2px solid $color__light-purple;
    margin: 0 auto 10px auto;
}

.cat-links {
	font-size: 90%;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: .1em;
	
	a {

		text-decoration: none;
	}	
	
	&:focus, &:hover {
		background-color: $color__light-purple;
		transition: $transition;
	}
}

.tags-links {
	font-size: 80%;
	font-weight: 800;

	color: black;
	
	a {
		text-decoration: none;
	}	
}

.entry-title {
	font-family: $font__sans;
	font-weight: 700;
	/*letter-spacing: 0;
	text-transform: none;*/
	margin: .125em 0 .25em 0;
	font-size: 2.2em;
	color: $color__dark-purple;
	text-align: center;

	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}

	a {
		text-decoration: none;
		color: $color__dark-purple;
		
		&:focus, &:hover {
			color: $color__dark-red;
			transition: $transition;
		}
	}
	
	&::after {
		display: block;
		clear: both;
		width: 3em;
		border-bottom: 1px solid $color__dark-purple;
	}
}

.entry-meta, .comments-link {
	font-size: 75%;
	color: black;
	
	a {
		font-weight: 800;
		text-decoration: none;
		color: black;
		
		&:hover {
			color: $color__dark-red;
		}
	}	
	
	button a {
		color: $color__red;
		&:hover {
			color: $color__dark-red;
		}
	}
}

.byline {
	&::before {
		content: "|";
		margin: 0 .5em;
	}
}

.updated:not(.published){
	display: none;
}

article {
	@include transparent(bg, white, .65); 
	padding: 1em;
	box-sizing: border-box;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	width: 100%;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}