.services-icons {
    h2 {
        font-family: $font__cursive;
        font-size: 4em;
        font-weight: 400;
        text-transform: none;
        letter-spacing: 0;
        text-align: center;
    }
    
    h3 {
        font-size: 1em;
        color: $color__medium-gray;
        text-align: center;
        font-weight: 800;
    }
}

.icon-boxes {
    width: 90%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    wrap: true;
    
    img {
        width: 175px;
        height: auto;
    }
}

.service {
    margin: 0 .5em;
}