input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	font-family: "Muli", "Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-weight: 400;
    color: $color__gray;
    border: 2px solid $color__gray;
    transition: all 0.5s ease-in-out;
    font-size: .8em;
    line-height: 1;
    padding: .45em 1em;
    background: transparent;
    box-sizing: border-box;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	font-family: "Muli", "Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-weight: 400;
    color: $color__gray;
    border: 2px solid $color__gray;
    transition: all 0.5s ease-in-out;
    font-size: .8em;
    line-height: 1;
    padding: .6em;
    background: transparent;
    box-sizing: border-box;
    border-radius: 0;
}

textarea {
	width: 100%;
}
