html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: url("images/greyfloral_2X.png") repeat fixed $color__background-body; /* Fallback for when there is no custom background color defined. */
}

p {
	margin-bottom: 1em;
}

blockquote, q {
	font-style: italic;
	font-size: .9em;
	line-height: 1.4em;
	margin-bottom: 1em;
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

cite {
	font-style: italic;
	margin: 0 1.5em !important;
    font-size: .9em;
	&:before {
		content:"—";
	}
}

hr {
	background-color: $color__gray;
	border: 0;
	height: 2px;
	
	width: 50px;
	margin: 1em auto;
	
}

	.purple {
		background-color: $color__light-purple;
	}

strong {
	font-weight: 800;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";