table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thread th {
	border-bottom: 2px solid $color__light-purple;
	padding-bottom: .5em;
}

td,
th {
	vertical-align: top;
}

th {
	padding: .4em;
	text-align: left;
	color: black;
}

tr {
	border-bottom: 1px solid $color__light-purple;
}

td {
	padding: .4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}