a {
	color: $color__red;
	transition: $transition;

	&:visited {
		color: $color__dark-red;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__dark-red;
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}